body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
}